<topnav></topnav>

<sidebar></sidebar>

<div id="mainContent">
  <div class="row" id="pageHeader">
    <div class="col-sm-6 col-md-6">
      <h1>All Pages</h1>
    </div>
    <div class="col-sm-6 col-md-6" id="pageHeaderActions">
      <a href="/content/add" class="add glyphicon glyphicon-plus" role="button">Add</a>
    </div>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Created</th>
        <th>Created By</th>
        <th>Updated</th>
        <th>Updated By</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>About Us</td>
        <td>1/21/2016 14:32 PM</td>
        <td>nborgwardt</td>
        <td>1/29/2016 08:21 AM</td>
        <td>dmalone</td>
        <td><a href="">Edit</a> | <a href="">Delete</a></td>
      </tr>
      <tr>
        <td>Why is Angular so cool!</td>
        <td>7/03/2016 14:32 PM</td>
        <td>nborgwardt</td>
        <td>11/09/2016 08:21 AM</td>
        <td>nborgwardt</td>
        <td><a href="">Edit</a> | <a href="">Delete</a></td>
      </tr>
      <tr>
        <td>Maplewood Store Hours</td>
        <td>2/11/2016 17:32 PM</td>
        <td>nborgwardt</td>
        <td>3/29/2016 08:11 AM</td>
        <td>dmalone</td>
        <td><a href="">Edit</a> | <a href="">Delete</a></td>
      </tr>
    </tbody>
  </table>
</div>
